@model BasketItemModel
<div class="card">
    <div class="row no-gutters">
        <div class="col-3">
            <img class="w-100 h-100" src="@Model.ImgUrl" class="img-fluid" alt="@Model.Name">
        </div>
        <div class="col-9">
            <div class="card-block px-1">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-text">@Model.Quantity</h6>
            </div>
        </div>
    </div>
</div>

