
<div class="card">
    <div class="row no-gutters">
        <div class="col-3">
            <img class="w-100 h-100" src=" " class="img-fluid" alt="">
        </div>
        <div class="col-9">
            <div class="card-block px-1">
                <h5 class="card-title">Item Name</h5>
                <h6 class="card-text">Item Quantity</h6>
            </div>
        </div>
    </div>
</div>

