@model List<BasketItemModel>
<!-- Used for showing and hidding the current order items on mobile -->
<div class="fixed-bottom d-sm-none">
    <div class="card h-100">
        <div class="card-footer">
            <div class="row no-gutter">
                <div class="col-3">
                    <a class="btn btn-secondary btn-lg btn-block">£</a>
                </div>
                <div class="col-9">
                    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#basket" aria-expanded="false" aria-controls="basket">View Order</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="collapse dont-collapse-sm" id="basket">
    <div class="card sticky h-100 col-sm-3 col-md-3 col-lg-2 m-0 p-0" style="padding-top:55px !important">

        <div class="card-header">
            <h3 class="card-title text-center">Edit Order</h3>
        </div>
        <ul class="list-group list-group-flush overflow-auto">
            <!--Will put all the basket/order items here-->
            @foreach (BasketItemModel basketItem in Model)
            {
                @await Html.PartialAsync("/Views/Shared/Menu/_BasketItem.cshtml", basketItem);
            }
        </ul>
        <div class="card-body"></div>
        <div class="card-footer">
            <a asp-controller="Home" asp-action="ConfirmOrder" class="btn btn-primary btn-block">Save changes</a>
        </div>
    </div>
</div>
