@{
    ViewData["Title"] = "Order Complete";
}

<div class="vertical-center">
    <div class="container h-100">
        <div class="col-12 text-center">
            <h1 class="font-weight-light">Your order has been placed.</h1>
            <p class="lead">To view and edit your order, please use your name and the order number:</p>
            <h3 class="font-weight-normal">Order Number: <b>@ViewData["OrderNo"].ToString()</b></h3>
            <h3 class="font-weight-normal">Name: <b>@ViewData["OrderName"].ToString()</b></h3>
        </div>
    </div>
</div>

