@model List<Item>
<!--Used for showing the full menu. Will iterate through each item and display in a grid -->
<div class="row flex-column flex-md-row no-gutter">
    <div class="col-sm-12 col-lg-12">
        <div class="row no-gutter">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("/Views/Shared/Admin/_Item.cshtml", item)
            }
        </div>
    </div>
</div>