@model ItemDetailsModel
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-3">
            <img class="w-100 h-100" style="object-fit: cover;" src="@Program.relativePath@Model.ImgUrl" alt="...">
        </div>
        <div class="col-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text"></p>
                <h4 class="text-right">£@((Model.Quantity * Model.Price).ToString("#.00")) </h4>
                <div class="btn-group mr-2" role="group" aria-label="@Model.Name Add and Remove">
                    <a class="btn btn-outline-dark">Quantity</a>
                    <a class="btn btn-outline-dark">@Model.Quantity</a>
                </div>
            </div>
        </div>
    </div>
</div>