

<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card mb-3 h-100">
        <img class="card-img-top" src="  " alt="Alt text for image">

        <div class="card-body">
            <h5 class="card-title">
                

            </h5>
            <p class="card-text">


            </p>
        </div>

        <div class="">
            <button onclick="PartUpdate()" class="btn btn-primary btn-block">Add to order</button>
        </div>
    </div>
</div>