@model ItemModel
@{
    ViewData["Title"] = "Add Item";
}

<h1>Add Item</h1>

<form asp-action="AddItem" asp-controller="Admin">

    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

    <div>
        <label asp-for="Name" class="font-weight-bold">Name:</label>
        <input asp-for="Name" class="form-control" placeholder="Name of item" />
        <span asp-validation-for="Name" class="text-danger"> </span>
    </div>

    <div>
        <label asp-for="Description" class="font-weight-bold">Description:</label>
        <input asp-for="Description" class="form-control" placeholder="Description" />
        <span asp-validation-for="Description" class="text-danger"> </span>
    </div>
    <div>
        <label asp-for="Price" class="font-weight-bold">Price:</label>
        <input asp-for="Price" class="form-control" placeholder="Price" />
        <span asp-validation-for="Price" class="text-danger"> </span>
    </div>
    <div>
        <label asp-for="ImageUrl" class="font-weight-bold">Image:</label>
        <input asp-for="ImageUrl" class="form-control" placeholder="Image url" />
        <span asp-validation-for="ImageUrl" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="font-weight-bold">Category:</label>
        <select asp-for="Category" class="form-control">
            <option value="1">Drinks</option>
            <option value="2">Snacks</option>
        </select>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="Available" class="form-check-input" type="checkbox" id="gridCheck">
            <label asp-for="Available" class="form-check-label font-weight-bold" for="gridCheck" >
                Available (Unticking will withdraw from sale)
            </label>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Create Item</button>

</form>
