@model List<Order>
@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

@foreach (Order order in Model)
{ 
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="card-header">
                    <h5 class="float-left">Order #@order.Id</h5>
                    <h5 class="float-right">@order.dateTime </h5>
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
                    <p class="float-left">Order placed by <b>@order.Name</b> at table <b>@order.Table</b></p>
                    <button id="showHide@(order.Id)" onclick="ViewOrderDetail(@order.Id)" class="btn btn-primary float-right">Show/Hide Details</button>
                    <div class="clearfix"></div>
                </div>
                <div class="card-footer" id="orderDetails@(order.Id)">
                </div>
            </div>
        </div>
    </div>
}