@{
    ViewData["Title"] = "Edit Order";
}

<!--Displays the menu-->
<div id="menu">
    @await Html.PartialAsync("/Views/Shared/Menu/_Menu.cshtml", ViewData["menu"])
</div>

<!--Shows the basket-->
<div id="basket">
    @await Html.PartialAsync("/Views/Shared/Menu/_EditBasket.cshtml", ViewData["basket"])
</div>

