@{
    ViewData["Title"] = "Menu";
}

@await Html.PartialAsync("/Views/Shared/Menu/_Menu.cshtml", ViewData["menu"])

<div id="basket">
    @await Html.PartialAsync("/Views/Shared/Menu/_Basket.cshtml", ViewData["basket"])
</div>
